#top,#content,#bottom,#side1,#side2,#side3,#side4{
    height:30px;   
}
#side1{
    background-color: red;
    width:300px;
    float:left;
}
#side2{
    background-color: green;
}

#side4{
    background-color: red;
    
}
#side3{
    background-color: green;
    width:300px;
    float:right;
}

#top{
    background-color: red;
    width:200px;
    float:left;
}
#content{
    background-color: green;   
}
#bottom{
    background-color: blue;
    width:200px;
    float:right;
}
#container{
    top:300px;
    /* background-color: #ccc; */
    border:10px solid #666;
    margin:0px;
    padding:0px;
    height: 250px;
    position: absolute;
}
#container:before{
    top:100%;
    border: 30px solid transparent;
    border-top: 30px solid #54FF9F;
    content:"";
    position: absolute;
}

#left,#right{
    width:300px;
    height: 200px;
    float:left;
}
#left{
    background-color: #87CEFF;
    float:left;
    border:5px solid #f40;
}
#right{
    position: relative;
    background-color: #54FF9F;
    margin-left:20px;
    border:1px solid #ccc;
}
#right:before,#right:after{
    top:100%;
    height: 0;
    width: 0;
    border: 30px solid transparent;
    content:"";
    position: absolute;
}
#right:before{
    border-width: 20px;
    border-top-color: #ccc;
    margin-left:50px;

}
#right:after{
    border-width: 19px;
    border-top-color: #54FF9F;
    margin-left:51px;
}