body {
  /* background-size: contain缩放至水平或垂直填满，cover缩放至水平、垂直都填满 */
  background: url(../images/2.jpg) center top / cover no-repeat;
  background-attachment: fixed;
}

body::before {
  /* content属性必须，position为absolute，然后用top和left调整位置 */
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(255, 192, 203, 0.3);
  /* background-color: rgba(103, 118, 126, 0.8); */
  z-index: -1;
}
.container {
  height: 420px;
  width: 420px;
  margin: 150px auto;
  position: relative;
  background-color: #eee;
  border-radius: 3px;
}

.title {
  width: 400px;
  height: 60px;
  position: absolute;
  background-color: #0094ff;
  top: 50px;
  left: -20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}
img {
  position: absolute;
  left: -18px;
  top: 110px;
}

form {
  position: absolute;
  margin-top: 130px;
  margin-left: 40px;
}

input,
button {
  display: inline-block;
  height: 50px;
  width: 340px;
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 3px;
}
input {
  padding-left: 20px;
}

button {
  background-color: #0094ff;
  color: #fff;
  font-size: 18px;
}
